<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FilenameBuddy" version="2.0.5" targetFramework="xamarinios10" />
  <package id="FontBuddy" version="2.0.4" targetFramework="xamarinios10" />
  <package id="GameTimer" version="2.0.0" targetFramework="xamarinios10" />
  <package id="HadoukInput" version="2.0.21" targetFramework="xamarinios10" />
  <package id="InputHelper" version="2.0.0" targetFramework="xamarinios10" />
  <package id="MatrixExtensions" version="2.0.0" targetFramework="xamarinios10" />
  <package id="MonoGame.Framework.iOS" version="3.7.1.189" targetFramework="xamarinios10" />
  <package id="MouseBuddy" version="2.0.0" targetFramework="xamarinios10" />
  <package id="PrimitiveBuddy" version="2.0.0" targetFramework="xamarinios10" />
  <package id="RandomExtensions.dmanning23" version="2.0.0" targetFramework="xamarinios10" />
  <package id="ResolutionBuddy" version="2.0.1" targetFramework="xamarinios10" />
  <package id="StateMachineBuddy" version="2.0.18" targetFramework="xamarinios10" />
  <package id="TouchScreenBuddy" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Vector2Extensions" version="2.0.1" targetFramework="xamarinios10" />
  <package id="XmlBuddy" version="2.0.1" targetFramework="xamarinios10" />
</packages>