<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FilenameBuddy.Android" version="1.0.1" targetFramework="monoandroid60" />
  <package id="FontBuddy.Android" version="1.0.11" targetFramework="monoandroid60" />
  <package id="GameTimer.Android" version="1.0.7" targetFramework="monoandroid60" />
  <package id="HadoukInput.Android" version="1.0.2" targetFramework="monoandroid60" />
  <package id="MatrixExtensions.Android" version="1.0.4" targetFramework="monoandroid60" />
  <package id="MonoGame.Framework.Android" version="3.5.1.1679" targetFramework="monoandroid60" />
  <package id="MouseBuddy.Android" version="1.0.1" targetFramework="monoandroid60" />
  <package id="PrimitiveBuddy.Android" version="1.0.3" targetFramework="monoandroid60" />
  <package id="RandomExtensions.dmanning23.Android" version="1.0.1" targetFramework="monoandroid60" />
  <package id="ResolutionBuddy.Android" version="1.0.4" targetFramework="monoandroid60" />
  <package id="StateMachineBuddy.Android" version="1.0.1" targetFramework="monoandroid60" />
  <package id="TouchScreenBuddy.Android" version="1.0.3" targetFramework="monoandroid60" />
  <package id="Vector2Extensions.Android" version="1.0.4" targetFramework="monoandroid60" />
  <package id="XmlBuddy.Android" version="1.0.1" targetFramework="monoandroid60" />
</packages>