<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FilenameBuddy" version="1.0.12" targetFramework="net461" />
  <package id="FontBuddy" version="1.0.22" targetFramework="net461" />
  <package id="GameTimer" version="1.0.8" targetFramework="net461" />
  <package id="HadoukInput" version="1.0.12" targetFramework="net461" />
  <package id="InputHelper" version="1.0.21" targetFramework="net461" />
  <package id="MatrixExtensions" version="1.0.3" targetFramework="net461" />
  <package id="MonoGame.Framework.WindowsDX" version="3.6.0.1625" targetFramework="net461" />
  <package id="MouseBuddy" version="1.0.9" targetFramework="net461" />
  <package id="PrimitiveBuddy" version="1.0.4" targetFramework="net461" />
  <package id="RandomExtensions.dmanning23" version="1.0.5" targetFramework="net461" />
  <package id="ResolutionBuddy" version="1.0.16" targetFramework="net461" />
  <package id="StateMachineBuddy" version="1.0.12" targetFramework="net461" />
  <package id="TouchScreenBuddy" version="1.0.7" targetFramework="net461" />
  <package id="Vector2Extensions" version="1.0.11" targetFramework="net461" />
  <package id="XmlBuddy" version="1.0.20" targetFramework="net461" />
</packages>