<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FilenameBuddy" version="1.0.2" targetFramework="net452" />
  <package id="FontBuddy" version="1.0.1" targetFramework="net452" />
  <package id="GameTimer" version="1.0.1" targetFramework="net452" />
  <package id="HadoukInput" version="1.0.2" targetFramework="net452" />
  <package id="InputHelper" version="1.0.14" targetFramework="net452" />
  <package id="MatrixExtensions" version="1.0.1" targetFramework="net452" />
  <package id="MonoGame.Framework.DesktopGL" version="3.5.1.1679" targetFramework="net452" />
  <package id="MouseBuddy" version="1.0.5" targetFramework="net452" />
  <package id="PrimitiveBuddy" version="1.0.0" targetFramework="net452" />
  <package id="RandomExtensions.dmanning23" version="1.0.2" targetFramework="net452" />
  <package id="ResolutionBuddy" version="1.0.2" targetFramework="net452" />
  <package id="StateMachineBuddy" version="1.0.0" targetFramework="net452" />
  <package id="TouchScreenBuddy" version="1.0.4" targetFramework="net452" />
  <package id="Vector2Extensions" version="1.0.1" targetFramework="net452" />
  <package id="XmlBuddy" version="1.0.2" targetFramework="net452" />
</packages>