<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FilenameBuddy.DesktopGL" version="1.0.1" targetFramework="net452" />
  <package id="FontBuddy.DesktopGL" version="1.0.11" targetFramework="net452" />
  <package id="GameTimer.DesktopGL" version="1.0.7" targetFramework="net452" />
  <package id="HadoukInput.DesktopGL" version="1.0.2" targetFramework="net452" />
  <package id="MatrixExtensions.DesktopGL" version="1.0.4" targetFramework="net452" />
  <package id="MonoGame.Framework.DesktopGL" version="3.5.1.1679" targetFramework="net452" />
  <package id="MouseBuddy.DesktopGL" version="1.0.1" targetFramework="net452" />
  <package id="PrimitiveBuddy.DesktopGL" version="1.0.3" targetFramework="net452" />
  <package id="RandomExtensions.dmanning23.DesktopGL" version="1.0.1" targetFramework="net452" />
  <package id="ResolutionBuddy.DesktopGL" version="1.0.4" targetFramework="net452" />
  <package id="StateMachineBuddy.DesktopGL" version="1.0.1" targetFramework="net452" />
  <package id="TouchScreenBuddy.DesktopGL" version="1.0.3" targetFramework="net452" />
  <package id="Vector2Extensions.DesktopGL" version="1.0.4" targetFramework="net452" />
  <package id="XmlBuddy.DesktopGL" version="1.0.1" targetFramework="net452" />
</packages>